<!DOCTYPE html>
<html lang="en" translate="no" class="notranslate">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
        <title>Randomizer Help</title>

        <meta name="application-name" content="Randomizer user guidance">
        <meta name="description" content="Hero Randomizer help with short guides in 'How To' style">
        <meta name="keywords" content="Randomizer help,Randomizer Guide,How To Randomizer,random heroes help">

        <!-- OG meta data -->
        <meta property="og:url" content="https://h3p.codeberg.page/index.html">
        <meta property="og:title" content="Randomizer user guidance">
        <meta property="og:description" content="Hero Randomizer help with short guides in 'How To' style">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="en_US">
        <meta property="og:locale:alternate" content="ru_RU">
        <meta property="og:image" content="//h3p.codeberg.page/images/favicon/android-chrome-256x256.png">
        <meta property="og:image:secure_url" content="https://h3p.codeberg.page/images/favicon/android-chrome-256x256.png">
        <meta property="og:image:width" content="256">
        <meta property="og:image:height" content="256">

        <!-- JS modules and constants -->
        <script src="scripts/base.js"></script>

        <!-- JS base languages -->
        <script src="lang/en.js"></script>
        <script src="lang/ru.js"></script>

        <!-- JS app code and handlers -->
        <script>
            'use strict';

            /**
             * Application object
             *
             * @type {{
             * TRANSLATE_CLASS: string,
             * modules: null|object,
             * start: app.start,
             * register: app.register,
             * getLang: (function()),
             * setLang: (function(string)),
             * showLocalizedHelp: (function()),
             * switchLanguage: (function(string))
             * }}
             *
             * @property {{trans: trans, popup: popup, settings: settings}} modules modules of app
             */
            const app = {
                TRANSLATE_CLASS: '.translate-on-start',
                modules: {},
                /**
                 * Add module to app
                 *
                 * @param {string} name   module name
                 * @param {object} module module itself
                 */
                register: function (name, module) {
                    this.modules[name] = module;
                },
                /**
                 * Start application handler
                 */
                start: function () {
                    let name;

                    // start modules, add external components
                    for (name in this.modules)
                        if (this.modules.hasOwnProperty(name)) {
                            this.modules[name].init();
                        }

                    this.modules.trans.addLang('en', EN);
                    this.modules.trans.addLang('ru', RU);
                    this.modules.trans.setActiveLang(this.getLang());

                    // translate all marked elements
                    document.querySelectorAll(this.TRANSLATE_CLASS).forEach(function (item) {
                        item.innerHTML = translate(item.dataset.phraseId);
                    });
                },
                /**
                 * Get current language name, if it is not set - html tag lang attribute value
                 *
                 * @returns {string}
                 */
                getLang: function () {
                    return this.modules.settings.getOption('lang', document.documentElement.lang);
                },
                /**
                 * Set language (will not be saved in settings)
                 *
                 * @param {string} lang new language
                 */
                setLang: function (lang) {
                    this.modules.settings.setOption('lang', lang);
                },
                /**
                 * Show help articles according to current language
                 */
                showLocalizedHelp: function () {
                    document.querySelectorAll('.help__article *[lang="' + this.getLang() +'"]').forEach(function (item) {
                        item.classList.remove('hidden');
                    });
                },
                /**
                 * Change help page language
                 *
                 * @param {string} lang new language
                 */
                switchLanguage: function (lang) {
                    let currentLang = this.getLang();

                    this.modules.trans.setActiveLang(lang);
                    this.setLang(lang);

                    document.querySelectorAll('.help__article *[lang="' + currentLang +'"]').forEach(function (item) {
                        item.classList.add('hidden');
                    });

                    this.showLocalizedHelp();

                    document.querySelectorAll(this.TRANSLATE_CLASS).forEach(function (item) {
                        item.innerHTML = translate(item.dataset.phraseId);
                    });
                }
            };

            // register modules
            app.register('settings', settings);
            app.register('trans', trans);
            app.register('popup', popup);

            // set handlers and some operations with DOM after page is loaded
            document.addEventListener('DOMContentLoaded', function () {
                let lang;

                // start app
                app.start();

                lang = app.getLang();

                // onstart page scenario
                document.title = translate('page.title.help');

                if (lang !== document.documentElement.lang) {
                    document.documentElement.lang = lang;
                }

                document.querySelector('.button-select__option[value="' + lang + '"]').classList.add('selected');

                document.querySelectorAll('.button-select__option').forEach(function (item) {
                    item.addEventListener('click', function () {
                        if (this.classList.contains('selected')) {
                            return;
                        }

                        document.querySelector('.button-select__option.selected').classList.remove('selected');
                        this.classList.add('selected');


                        app.switchLanguage(this.value);
                    });
                });

                app.showLocalizedHelp();
            });

            // show error popup with error data
            window.addEventListener('error', function (e) {
                if (
                    // @todo bypass chromium bug: Issue 1328008 remove after it would be fixed
                    e.message === 'Uncaught EvalError: Possible side-effect in debug-evaluate'
                    ||
                    // bypass errors from outside scripts - we do not use any outside scripts, so it is not our problem
                    e.message === 'Script error.'
                ) {
                    return;
                }

                let message = 'error: %msg%. File: %file%, ln: %ln%, pos: %pos%'
                    .replace('%msg%', e.message)
                    .replace('%file%', e.filename)
                    .replace('%ln%', e.lineno.toString())
                    .replace('%pos%', e.colno.toString());

                app.modules.popup.error(translate('popup.error'), message);
            });
        </script>

        <!-- Styles -->
        <link rel="stylesheet" href="styles/styles.css">

        <!-- favicon links -->
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
        <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#1c2b42">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">

        <!-- misc -->
        <meta name="robots" content="noindex, nofollow"/>
        <meta name="google" content="notranslate">
    </head>
    <body>
        <div id="content_wrap">
            <div class="content__border">
                <div class="content">
                    <header class="content__header">
                        <h1 class="content__header-capt translate-on-start" data-phrase-id="page.header.helpPage"></h1>
                    </header>
                    <main class="content__body-col">
                        <article class="body__block">
                            <div class="modal-block__control">
                                <button value="en" class="button-select__option">en</button>
                                <button value="ru" class="button-select__option">ru</button>
                            </div>
                        </article>
                        <article class="body__block">
                            <div class="help__article">
                                <div class="block__help-capt">
                                    <p class="hidden" lang="en">Welcome to Hero Randomizer</p>
                                    <p class="hidden" lang="ru">Добро пожаловать в Рандомайзер героев</p>
                                </div>
                                <div class="block__help-text">
                                    <p class="hidden" lang="en">This help will guide you throw Randomizer capabilities and show you - how to use them. Randomizer allows you to get a random pair of heroes according to set rules: map template, personal wishes, used before heroes. As it should be - good tool allows you to control it</p>
                                    <p class="hidden" lang="ru">Эта справочная информация познакомит вас с возможностями Рандомайзера и подскажет, как ими пользоваться. Рандомайзер позволяет вам получить пару случайных героев согласно заданным правилам: шаблон карты, личные предпочтения, ранее использованные герои. Как и положено - у хорошего инструмента есть возможность всем этим управлять</p>
                                </div>
                            </div>
                        </article>
                        <article class="body__block">
                            <div class="help__article">
                                <div class="block__help-capt">
                                    <p class="hidden" lang="en">Randomizer main page</p>
                                    <p class="hidden" lang="ru">Главная страница Рандомайзера</p>
                                </div>
                                <div class="block__help-text">
                                    <p class="hidden" lang="en">Here you can gat a random pair of heroes and change Randomizer settings. All images are links which follows on outer site with information about the image (information about town, hero, skill etc). Button Templates leads in Template editor, buttons Settings and Heroes allows to edit Randomizer settings (detiled description below), button Roll generates a pair of heroes</p>
                                    <p class="hidden" lang="ru">Здесь вы можете получить пару случайных героев, а также изменить настройки Рандомайзера. Все изображения являются ссылками, ведущими на сайт с информацией по данному изображению (информация по городу, герою, навыку и тп). Кнопка Шаблоны позволяет перейти в Редактор шаблонов, кнопки Настройки и Герои позволяют настроить Рандомайзер (подробное описание ниже), кнопка Поехали генерирует пару героев</p>
                                </div>
                            </div>
                        </article>
                        <article class="body__block">
                            <div class="help__article">
                                <div class="block__help-capt">
                                    <p class="hidden" lang="en">Template selection</p>
                                    <p class="hidden" lang="ru">Выбор шаблона</p>
                                </div>
                                <div class="block__help-text">
                                    <p class="hidden" lang="en">You may choose a template from which lists of allowed towns and heroes will be taken - usually it matches the map template from Heroes 3. To change used template:</p>
                                    <p class="hidden" lang="ru">Вы можете выбрать шаблон, из которого будет взяты списки разрешенных городов и героев - обычно он соответствует шаблону карты Героев 3. Для переключения шаблона:</p>
                                    <ol class="hidden help__ordered-list" lang="en">
                                        <li class="help__ordered-list_item">Go to Randomizer main page</li>
                                        <li class="help__ordered-list_item">Press Settings button</li>
                                        <li class="help__ordered-list_item">In "Template selection" block of popped up window select template you want to use</li>
                                        <li class="help__ordered-list_item">Press Ok button</li>
                                        <li class="help__ordered-list_item">Randomizer will reload and use selected template</li>
                                    </ol>
                                    <ol class="hidden help__ordered-list" lang="ru">
                                        <li class="help__ordered-list_item">Перейдите на основную страницу Рандомайзера</li>
                                        <li class="help__ordered-list_item">Нажмите кнопку Настройки</li>
                                        <li class="help__ordered-list_item">В секции "Выбор шаблона" укажите шаблон, который хотели бы использовать</li>
                                        <li class="help__ordered-list_item">Нажмите кнопку Ок</li>
                                        <li class="help__ordered-list_item">Рандомайзер перезагрузится и будет использовать выбранный шаблон</li>
                                    </ol>
                                    <p class="hidden" lang="en">Template "Jebus Outcast" is used by default. Sometimes Settings window will pop up after the page is loaded - this means that you should select a template because previously set template is not available now (it may be renamed or removed for example)</p>
                                    <p class="hidden" lang="ru">Шаблон "Jebus Outcast" используется по умолчанию. Иногда окно Настройки может открыться сразу после загрузки страницы - это значит, что вам нужно выбрать шаблон, так как ранее использованный - более не доступен (например, он мог быть удален или переименован)</p>
                                </div>
                            </div>
                        </article>
                        <article class="body__block">
                            <div class="help__article">
                                <div class="block__help-capt">
                                    <p class="hidden" lang="en">Personal ban of towns and heroes</p>
                                    <p class="hidden" lang="ru">Персональный запрет героев и городов</p>
                                </div>
                                <div class="block__help-text">
                                    <p class="hidden" lang="en">You may ban any hero or town allowed by template you don't want to see in the next roll. If you ban hero - you will not see him in rolls until unban. If you ban town  - you will not see it or its heroes in rolls until unban. To set or unset bans:</p>
                                    <p class="hidden" lang="ru">Вы можете забанить героя или город, разрешенные шаблоном, которые вы не хотите видеть в следующей паре. Если вы запрещаете героя - он не будет выпадать до снятия запрета. Если вы запрещаете город - он и герои из него не будут выпадать до снятия запрета. Для установки и снятия запретов:</p>
                                    <ol class="hidden help__ordered-list" lang="en">
                                        <li class="help__ordered-list_item">Go to Randomizer main page</li>
                                        <li class="help__ordered-list_item">Press Heroes button</li>
                                        <li class="help__ordered-list_item">In popped up window you may click hero or town image to ban it</li>
                                        <li class="help__ordered-list_item">Second click will unban the hero or the town</li>
                                        <li class="help__ordered-list_item">To change hero list on required click on the town and its hero list will be shown (don't forget to remove ban from the town)</li>
                                        <li class="help__ordered-list_item">After you finish, press Ok button to close Heroes window or Cancel button to clear all bans</li>
                                    </ol>
                                    <ol class="hidden help__ordered-list" lang="ru">
                                        <li class="help__ordered-list_item">Перейдите на основную страницу Рандомайзера</li>
                                        <li class="help__ordered-list_item">Нажмите кнопку Герои</li>
                                        <li class="help__ordered-list_item">В открывшемся окне вы можете кликнуть в изображение героя или города для того, чтобы запретить его</li>
                                        <li class="help__ordered-list_item">Второй клик снимает запрет на героя или город</li>
                                        <li class="help__ordered-list_item">Для отображения списка героев нужного города кликните в изображение города (не забудьте снять запрет с города)</li>
                                        <li class="help__ordered-list_item">Когда все будет готово, нажмите кнопку ОК для закрытия окна или Отмена для снятия всех ограничений</li>
                                    </ol>
                                    <p class="hidden" lang="en">Bans of heroes and towns will be kept until page is closed or reloaded. To clear all set early bans just open Heroes window and close it by pressing Cancel button</p>
                                    <p class="hidden" lang="ru">Запреты героев и городов будут храниться до закрытия или перезагрузки страницы. Для того чтобы снять все ранее установленные запреты, просто откройте окно Героев и закройте нажатием кнопки Отмена</p>
                                </div>
                            </div>
                        </article>
                        <article class="body__block">
                            <div class="help__article">
                                <div class="block__help-capt">
                                    <p class="hidden" lang="en">Repetition ban</p>
                                    <p class="hidden" lang="ru">Запрет повторов</p>
                                </div>
                                <div class="block__help-text">
                                    <p class="hidden" lang="en">Randomizer can generate random pairs in two different ways: free and strict. In the free way pair of the next roll may include all allowed by template and not banned by user towns and heroes. In the strict way next pair may include all allowed, not banned by user and not used before towns and heroes - it means that you can not get the town or hero of the current roll until all towns or heroes respectively are used. To switch Randomizer generation way:</p>
                                    <p class="hidden" lang="ru">Рандомайзер может генерировать пары случайных героев двумя разными путями: свободным и строгим. В свободном варианте пара в следующей генерации может содержать любые разрешенные шаблоном и не запрещенные пользователем города и героев. В строгом варианте пара в следующей генерации может содержать любые разрешенные шаблоном, не запрещенные пользователем и не использованные ранее города и героев - это означает, что город и герой из текущей генерации не выпадет до тех пор, пока не будут использованы все города и герои соответственно. Для переключения запрета повторов:</p>
                                    <ol class="hidden help__ordered-list" lang="en">
                                        <li class="help__ordered-list_item">Go to Randomizer main page</li>
                                        <li class="help__ordered-list_item">Press Settings button</li>
                                        <li class="help__ordered-list_item">In "Other options" check to use the strict way or uncheck to use the free way "Forbid town and hero repetition" option</li>
                                        <li class="help__ordered-list_item">Press Ok button</li>
                                        <li class="help__ordered-list_item">Randomizer will reload and use selected way</li>
                                    </ol>
                                    <ol class="hidden help__ordered-list" lang="ru">
                                        <li class="help__ordered-list_item">Перейдите на основную страницу Рандомайзера</li>
                                        <li class="help__ordered-list_item">Нажмите кнопку Настройки</li>
                                        <li class="help__ordered-list_item">В секции "Прочие настройки" поставьте галочку "Запретить повтор героев и городов" для использования строгого варианта или снимите ее для использования свободного варианта</li>
                                        <li class="help__ordered-list_item">Нажмите кнопку Ок</li>
                                        <li class="help__ordered-list_item">Рандомайзер перезагрузится и будет использовать выбранный вариант</li>
                                    </ol>
                                    <p class="hidden" lang="en">Free way is used by default. Repetition ban does not depend on template and selected way will be used in any roll. Randomizer stores used towns and heroes separately for each template. Switching to the free way does not reset used towns and heroes</p>
                                    <p class="hidden" lang="ru">Свободный вариант генерации используется по умолчанию. Запрет повторов не зависит от шаблона и применяется для любой генерации. Рандомайзер хранит использованные города и героев отдельно для каждого шаблона. Переключение со строгого на свободный вариант генерации не сбрасывает использованные города и героев</p>
                                </div>
                            </div>
                        </article>
                        <article class="body__block">
                            <div class="help__article">
                                <div class="block__help-capt">
                                    <p class="hidden" lang="en">Other settings</p>
                                    <p class="hidden" lang="ru">Прочие настройки настройки</p>
                                </div>
                                <div class="block__help-text">
                                    <p class="hidden" lang="en">You may choose Randomizer's interface language. Selected language will be applied to all Randomizer pages. Language may be set in the Settings window on the main Randomizer page</p>
                                    <p class="hidden" lang="ru">Вы можете выбрать язык интерфейса Рандомайзера. Выбранный язык будет применяться на всех страницах. Язык интерфейса можно выбрать в окне Настроек на главной странице Рандомайзера</p>
                                    <p class="hidden" lang="en">You may force Randomizer to roll new hero pair after page is loaded - no need to press any buttons, just visit Randomizer main page to get a pair of heroes. This option may be set in the Settings window on the main Randomizer page</p>
                                    <p class="hidden" lang="ru">Вы можете заставить рандомайзер генерировать новую пару героев при загрузке страницы - не требуется нажимать никаких кнопок, просто посетите главную страницу Рандомайзера, чтобы получить пару героев. Данная опция может быть включена в окне Настроек на главной странице Рандомайзера</p>
                                </div>
                            </div>
                        </article>
                        <article class="body__block">
                            <div class="help__article">
                                <div class="block__help-capt">
                                    <p class="hidden" lang="en">Template editor</p>
                                    <p class="hidden" lang="ru">Редактор шаблонов</p>
                                </div>
                                <div class="block__help-text">
                                    <p class="hidden" lang="en">Template editor allows you to create your own local templates which Randomizer can use. Local templates are stored in browser, so only you will have access to them. On page load Template editor will ask you to select any local template if any templates exists or ask you to create a new one. After you selected or created template, Template editor will allow you to change it</p>
                                    <p class="hidden" lang="ru">Редактор шаблонов позволит вам создать свои собственные локальные шаблоны для Рандомайзера. Локальные шаблоны хранятся в браузере, поэтому только вы будете иметь к ним доступ. При загрузке страницы Редактор шаблонов попросит вас выбрать любой локальный шаблон, если они существуют, либо предложит создать новый. После выбора или создания шаблона Редактор шаблонов позволит вам их изменять</p>
                                </div>
                            </div>
                        </article>
                        <article class="body__block">
                            <div class="help__article">
                                <div class="block__help-capt">
                                    <p class="hidden" lang="en">Template creation</p>
                                    <p class="hidden" lang="ru">Создание шаблона</p>
                                </div>
                                <div class="block__help-text">
                                    <p class="hidden" lang="en">New template must be named (from 5 to 100 letters or digits, also spaces, dots, commas and dashes) and mirror type selected. There are three mirror types: if "yes" in all pairs both heroes will be from same town, if "no" in all pairs both heroes will be from different towns, if "possible" sometimes in pairs both heroes will be from same town. To create new local template:</p>
                                    <p class="hidden" lang="ru">Новый шаблон должен иметь имя (от 5 до 100 букв и цифр, а также пробелы, точки, запятые и тире), и должен быть выбран тип зеркальности. Есть три типа зеркальности: в случае "да" во всех парах герои будут из одного города, в случае "нет" во всех парах герои будут из разных городов, в случае "возможно" в некоторых парах герои будут из одного города. Чтобы создать новый шаблон:</p>
                                    <ol class="hidden help__ordered-list" lang="en">
                                        <li class="help__ordered-list_item">Go to Randomizer Template editor page</li>
                                        <li class="help__ordered-list_item">Select custom template (if there is no templates created yet go to point 4)</li>
                                        <li class="help__ordered-list_item">Press New template button</li>
                                        <li class="help__ordered-list_item">Fill template name and select mirror type</li>
                                        <li class="help__ordered-list_item">Press Ok</li>
                                        <li class="help__ordered-list_item">Draft of new template creates instantly and will be loaded for edition</li>
                                    </ol>
                                    <ol class="hidden help__ordered-list" lang="ru">
                                        <li class="help__ordered-list_item">Перейдите на страницу Редактора шаблонов Рандомайзера</li>
                                        <li class="help__ordered-list_item">Выберите пользовательский шаблон (Если не создано пользовательских шаблонов, переходите к шагу 4)</li>
                                        <li class="help__ordered-list_item">Нажмите кнопку Новый шаблон</li>
                                        <li class="help__ordered-list_item">Укажите имя шаблона и выберите тип зеркальности</li>
                                        <li class="help__ordered-list_item">Нажмите ОК</li>
                                        <li class="help__ordered-list_item">Черновик нового шаблона будет создан сразу и загружен для редактирования</li>
                                    </ol>
                                    <p class="hidden" lang="en">Mirror type is "no" by default. Template editor will request to create new template on page load if there is no custom templates created yet. Without saving new template draft will be lost if page closed or reloaded</p>
                                    <p class="hidden" lang="ru">Тип зеркальности по умолчанию "нет". Редактор шаблонов потребует создать новый шаблон, если до этого не было создано ни одного пользовательского шаблона. Черновик нового шаблона будет утрачен, если не был сохранен, при закрытии или перезагрузке страницы</p>
                                </div>
                            </div>
                        </article>
                        <article class="body__block">
                            <div class="help__article">
                                <div class="block__help-capt">
                                    <p class="hidden" lang="en">Template edition</p>
                                    <p class="hidden" lang="ru">Редактирование шаблона</p>
                                </div>
                                <div class="block__help-text">
                                    <p class="hidden" lang="en">In draft of new template or selected custom template you may change name, mirror type and allow or disallow towns and heroes. To edit template:</p>
                                    <p class="hidden" lang="ru">В черновике нового шаблона или выбранном пользовательском шаблоне вы можете изменить название, тип зеркальности и запретить или разрешить города и героев. Чтобы отредактировать шаблон:</p>
                                    <ol class="hidden help__ordered-list" lang="en">
                                        <li class="help__ordered-list_item">Go to Randomizer Template editor page</li>
                                        <li class="help__ordered-list_item">Select custom template (if there is no templates created yet, you will need to create new one)</li>
                                        <li class="help__ordered-list_item">Click in town or hero image to disable it in custom template, second one allows this town or hero</li>
                                        <li class="help__ordered-list_item">Click in town to change its hero list (don't forget to allow this town)</li>
                                        <li class="help__ordered-list_item">To change name or mirror type press "Edit miscellaneous options" button</li>
                                        <li class="help__ordered-list_item">In popped up window change name or mirror type and pres Ok</li>
                                        <li class="help__ordered-list_item">Press Save button to save changes</li>
                                    </ol>
                                    <ol class="hidden help__ordered-list" lang="ru">
                                        <li class="help__ordered-list_item">Перейдите на страницу Редактора шаблонов Рандомайзера</li>
                                        <li class="help__ordered-list_item">Выберите пользовательский шаблон (Если не создано пользовательских шаблонов, вам потребуется создать новый шаблон)</li>
                                        <li class="help__ordered-list_item">Кликните в город или героя, чтобы запретить его в данном шаблоне, второй клик в тот же город или героя разрешает его</li>
                                        <li class="help__ordered-list_item">Кликните в город, чтобы изменить список его героев (не забудьте снять запрет с данного города)</li>
                                        <li class="help__ordered-list_item">Чтобы изменить название шаблона или тип зеркальности нажмите кнопку "Изменить прочие свойства"</li>
                                        <li class="help__ordered-list_item">В открывшемся окне измените имя или тип зеркальности и нажмите кнопку Ок</li>
                                        <li class="help__ordered-list_item">Нажмите кнопку Сохранить, чтобы сохранить изменения</li>
                                    </ol>
                                    <p class="hidden" lang="en">Any unsaved changes wil be lost if page was closed or reloaded. Template editor will request to select custom template on page load if there is at least one custom template</p>
                                    <p class="hidden" lang="ru">Любые несохраненные изменения будут утрачены при закрытии или перезагрузке страницы. Редактор шаблонов потребует выбрать шаблон при загрузке страницы, если есть хотя бы один созданный шаблон</p>
                                </div>
                            </div>
                        </article>
                        <article class="body__block">
                            <div class="help__article">
                                <div class="block__help-capt">
                                    <p class="hidden" lang="en">Template deletion</p>
                                    <p class="hidden" lang="ru">Удаление шаблона</p>
                                </div>
                                <div class="block__help-text">
                                    <p class="hidden" lang="en">You may delete any custom template. This option is available while you edit template - pressing Delete template in selected template will instantly delete it. There is no way to undo it</p>
                                    <p class="hidden" lang="ru">Вы можете удалить любой пользовательский шаблон. Это возможно при редактировании шаблона - нажатие кнопки "Удалить шаблон" в выбранном шаблоне сразу удалит данный шаблон. Возможности отменить данное действие нет</p>
                                </div>
                            </div>
                        </article>
                        <article class="body__block">
                            <div class="help__article">
                                <div class="block__help-capt">
                                    <p class="hidden" lang="en">Templates sharing</p>
                                    <p class="hidden" lang="ru">Распространение шаблонов</p>
                                </div>
                                <div class="block__help-text">
                                    <p class="hidden" lang="en">You may share your custom templates with your friends and community. Templates will keep all banned towns and heroes, mirror state and name. To share template with somebody:</p>
                                    <p class="hidden" lang="ru">Вы можете поделиться вашими пользовательским шаблонами с друзьями и сообществом. Шаблоны сохранят все запрещенные города и героев, тип зеркальности и название. Чтобы передать шаблон кому-либо:</p>
                                    <ol class="hidden help__ordered-list" lang="en">
                                        <li class="help__ordered-list_item">Go to Randomizer Template editor page</li>
                                        <li class="help__ordered-list_item">Load template you'd like to share</li>
                                        <li class="help__ordered-list_item">Press Share template</li>
                                        <li class="help__ordered-list_item">In popped up window select and copy in clipboard exchange string</li>
                                        <li class="help__ordered-list_item">Send copied exchange string to person with you want to share the template</li>
                                    </ol>
                                    <ol class="hidden help__ordered-list" lang="ru">
                                        <li class="help__ordered-list_item">Перейдите на страницу Редактора шаблонов Рандомайзера</li>
                                        <li class="help__ordered-list_item">Загрузите шаблон, которым хотите поделиться</li>
                                        <li class="help__ordered-list_item">Нажмите Поделиться шаблоном</li>
                                        <li class="help__ordered-list_item">В открывшемся окне выделите и скопируйте в буфер обмена строку обмена данными</li>
                                        <li class="help__ordered-list_item">Отправьте строку обмена данными, с которым хотите поделиться шаблоном</li>
                                    </ol>
                                    <p class="hidden" lang="en">Next actions should be done by person receiving the template</p>
                                    <p class="hidden" lang="ru">Дальнейшие действия должны выполняться человеком, получающим шаблон</p>
                                </div>
                            </div>
                        </article>
                        <article class="body__block">
                            <div class="help__article">
                                <div class="block__help-capt">
                                    <p class="hidden" lang="en">Template import</p>
                                    <p class="hidden" lang="ru">Импорт шаблона</p>
                                </div>
                                <div class="block__help-text">
                                    <p class="hidden" lang="en">You may import templates shared by somebody. Imported template will have same as origin name, banned towns and heroes and mirror state. To import template:</p>
                                    <p class="hidden" lang="ru">Вы можете импортировать шаблон, распространенный кем-либо. Импортированный шаблон будет иметь название, запрещенных города и героев, тип зеркальности такие же, как и оригинал. Чтобы импортировать шаблон:</p>
                                    <ol class="hidden help__ordered-list" lang="en">
                                        <li class="help__ordered-list_item">Go to Randomizer Template editor page</li>
                                        <li class="help__ordered-list_item">In start window press Import template button (or press same button in Misc options block if some local template already loaded)</li>
                                        <li class="help__ordered-list_item">Copy exchange string and paste it in the input field</li>
                                        <li class="help__ordered-list_item">Press Ok button</li>
                                        <li class="help__ordered-list_item">Template will be parsed and loaded - you can check it</li>
                                        <li class="help__ordered-list_item">Press Save button to store Template in your collection</li>
                                    </ol>
                                    <ol class="hidden help__ordered-list" lang="ru">
                                        <li class="help__ordered-list_item">Перейдите на страницу Редактора шаблонов Рандомайзера</li>
                                        <li class="help__ordered-list_item">В стартовом окне нажмите кнопку Импорт шаблона (или аналогичную кнопку в разделе Прочие опции, если какой-либо локальный шаблон загружен)</li>
                                        <li class="help__ordered-list_item">Скопируйте строку обмена и вставьте ее в поле ввода</li>
                                        <li class="help__ordered-list_item">Нажмите Ок</li>
                                        <li class="help__ordered-list_item">Шаблон будет распознан и загружен - вы можете проверить его</li>
                                        <li class="help__ordered-list_item">Нажмите Сохранить, чтобы поместить шаблон в свою коллекцию</li>
                                    </ol>
                                    <p class="hidden" lang="en">Imported template is still local - any changes you will make will be available only in your current browser. If you do not want to save imported template - just leave Template editor or load any other template</p>
                                    <p class="hidden" lang="ru">Импортированный шаблон является локальным - любые внесенные вами изменения будут доступны только в текущем браузере. Если вы не хотите сохранять шаблон - просто покиньте страницу или загрузите любой другой шаблон</p>
                                </div>
                            </div>
                        </article>
                    </main>
                    <footer class="content__footer">
                        <div class="button__block single-block">
                            <a href="mode_editor.html" class="footer__link translate-on-start" data-phrase-id="page.patterns"></a>
                            <a href="index.html" class="footer__link translate-on-start" data-phrase-id="page.randomizer"></a>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <div class="body-links">
            <a href="https://codeberg.org/h3p/pages/" class="body-link translate-on-start" target="_blank" data-phrase-id="page.about"></a>
        </div>
    </body>
</html>
