<!DOCTYPE html>
<html lang="en" translate="no" class="notranslate">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
        <title>Mode editor</title>

        <meta name="application-name" content="Randomizer Template Editor">
        <meta name="description" content="This editor will allow you to add and share your own custom templates for Hero Randomizer">
        <meta name="keywords" content="Randomizer,Hero Randomizer Template,Randomizer Template">

        <!-- OG meta data -->
        <meta property="og:url" content="https://h3p.codeberg.page/mode_editor.html">
        <meta property="og:title" content="Randomizer Template Editor">
        <meta property="og:description" content="This editor will allow you to add and share your own custom templates for Hero Randomizer">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="en_US">
        <meta property="og:locale:alternate" content="ru_RU">
        <meta property="og:image" content="//h3p.codeberg.page/images/favicon/android-chrome-256x256.png">
        <meta property="og:image:secure_url" content="https://h3p.codeberg.page/images/favicon/android-chrome-256x256.png">
        <meta property="og:image:width" content="256">
        <meta property="og:image:height" content="256">

        <!-- JS modules and constants -->
        <script src="scripts/base.js"></script>
        <script src="scripts/constants.js"></script>

        <!-- JS base languages -->
        <script src="lang/en.js"></script>
        <script src="lang/ru.js"></script>

        <!-- JS app code and handlers -->
        <script>
            'use strict';

            /**
             * Application object
             *
             * @type {{
             * NAME_PATTERN: RegExp,
             * MODE_PATTERN: RegExp,
             * TRANSLATE_CLASS: string,
             * TEMPLATE_KEYS: {bannedHeroes: string, mirror: string, bannedTowns: string, name: string},
             * currentMode: {bannedHeroes: null, mirror: null, bannedTowns: null, name: null, id: null},
             * modules: {}|{modal: modal, modeProvider: modeProvider, trans: trans, popup: popup, settings: settings},
             * heroList: null|object,
             * grid: {heroes: {}, towns: {}},
             * register: app.register,
             * start: app.start,
             * getLang: (function(): string),
             * setCurrentMode: app.setCurrentMode,
             * saveCurrentMode: app.saveCurrentMode,
             * getCurrentMode: (function(): null),
             * getRegisteredModes: (function(): string[]),
             * deleteCurrentMode: app.deleteCurrentMode,
             * getModeName: (function((string|null)=): string|null),
             * getMirror: (function((string|null)=): boolean|null),
             * encodeMode: (function(string): string),
             * decodeMode: (function(string): any),
             * checkMode: (function(Object): Object),
             * createHeroGrid: app.createHeroGrid,
             * renewHeroGrid: app.renewHeroGrid,
             * handleModalClose: ((function(): boolean)|*),
             * showTip: app.showTip
             * }}
             *
             * @property {{modal: modal, modeProvider: modeProvider, trans: trans, popup: popup, settings: settings}} modules registered modules
             */
            const app = {
                TRANSLATE_CLASS: '.translate-on-start',
                NAME_PATTERN   : /^[а-я\w \-,.]{5,100}$/i,
                MODE_PATTERN   : /^[\w+\/]+={0,2}$/i,
                TEMPLATE_KEYS  : {mirror: 'mr', bannedTowns: 'bt', bannedHeroes: 'bh', name: 'nm'},
                modules        : {},
                heroList       : null,
                currentMode    : {
                    id          : null,
                    name        : null,
                    mirror      : null,
                    bannedHeroes: null,
                    bannedTowns : null
                },
                grid: {towns: {}, heroes: {}},
                /**
                 * Add modules in app
                 *
                 * @param {string}   name        module name
                 * @param {object}   module      module object
                 * @param {function} module.init module object should have init function
                 */
                register: function (name, module) {
                    this.modules[name] = module;
                },
                /**
                 * Start app handler
                 *
                 * @param {object} heroList heroes`by`town object
                 */
                start: function (heroList) {
                    let name, item;

                    this.heroList = heroList;

                    for (name in this.modules)
                        if (this.modules.hasOwnProperty(name)) {
                            this.modules[name].init();
                        }

                    this.modules.trans.addLang('en', EN);
                    this.modules.trans.addLang('ru', RU);
                    this.modules.trans.setActiveLang(this.getLang());

                    for (item of document.querySelectorAll(this.TRANSLATE_CLASS)) {
                        item.innerHTML = translate(item.innerHTML);
                    }
                },
                /**
                 * Get app language
                 *
                 * @returns {string}
                 */
                getLang: function () {
                    return this.modules.settings.getOption('lang', document.documentElement.lang);
                },
                /**
                 * Get id of current edited mode
                 *
                 * @returns {null|string}
                 */
                getCurrentMode: function () {
                    return this.currentMode.id;
                },
                /**
                 * Set current mode by id, load all its params from store
                 *
                 * @param {string} id mode unique id
                 */
                setCurrentMode: function (id) {
                    this.currentMode.id     = id;
                    this.currentMode.name   = this.modules.modeProvider.getName(id);
                    this.currentMode.mirror = this.modules.modeProvider.getIsMirror(id);

                    this.renewHeroGrid();
                },
                /**
                 * Update exists mode or add new from app in store and save it in Local Storage
                 */
                saveCurrentMode: function () {
                    if (this.modules.modeProvider.isMode(this.currentMode.id)) {
                        this.modules.modeProvider.updateCustomMode(
                            this.currentMode.id,
                            this.currentMode.name,
                            this.currentMode.bannedHeroes.map(function (item) {return item.split('.')[1];}),
                            this.currentMode.bannedTowns,
                            this.currentMode.mirror
                        );
                    } else {
                        this.modules.modeProvider.addMode(
                            this.currentMode.id,
                            this.currentMode.name,
                            this.currentMode.bannedHeroes.map(function (item) {return item.split('.')[1];}),
                            this.currentMode.bannedTowns,
                            this.currentMode.mirror,
                            false
                        )
                    }

                    this.modules.modeProvider.persist();
                },
                /**
                 * Delete current mode from app and store
                 */
                deleteCurrentMode: function () {
                    if (this.modules.modeProvider.isMode(this.currentMode.id)) {
                        this.modules.modeProvider.removeMode(this.currentMode.id);

                        this.modules.modeProvider.persist();
                    }
                },
                /**
                 * Get list of modes available in store
                 *
                 * @returns {string[]}
                 */
                getRegisteredModes: function () {
                    return this.modules.modeProvider.getListOfModes();
                },
                /**
                 * Get name of specific mode or current mode
                 *
                 * @param {null|string} [id] unique mode id
                 *
                 * @returns {string|null}
                 */
                getModeName: function (id) {
                    return id ? this.modules.modeProvider.getName(id) : this.currentMode.name;
                },
                /**
                 * Get mirror state of specific mode or current mode
                 *
                 * @param {null|string} [id] unique mode id
                 *
                 * @returns {boolean|null}
                 */
                getMirror: function (id) {
                    return id ? this.modules.modeProvider.getIsMirror(id) : this.currentMode.mirror;
                },
                /**
                 * Handle modal window close
                 *
                 * @returns {boolean}
                 */
                handleModalClose: function () {
                    let active = this.modules.modal.getActiveId(),
                        mode, modeId, name, mirror, parsedMode;

                    if (active === 'modal_edit-mode') {
                        mode = document.querySelector('#inp-mode-id').value;
                        name = document.querySelector('#inp-mode_name').value;

                        switch (document.querySelector('#option-mirror').selectedOptions[0].value) {
                            case 'false':
                                mirror = false;

                                break;
                            case 'true':
                                mirror = true;

                                break;
                            case 'null':
                                mirror = null;

                                break;
                            default:
                                return false;
                        }

                        if (!app.NAME_PATTERN.test(name)) {
                            return false;
                        }

                        if (mode === '') {
                            this.currentMode.id = this.modules.modeProvider.getRandomId();

                            this.renewHeroGrid(true);
                        }

                        this.currentMode.name   = name;
                        this.currentMode.mirror = mirror;

                        return true;
                    } else if (active === 'modal_select-mode') {
                        mode = document.querySelector('#option-mode').selectedOptions[0].value;

                        if (mode) {
                            this.setCurrentMode(mode);

                            return true;
                        }

                        return false;
                    } else if (active === 'modal_take-mode') {
                        try {
                            mode = ('' + document.querySelector('#take-mode_data').value).trim();

                            if (!mode.length || !this.MODE_PATTERN.test(mode)) {
                                return false;
                            }

                            parsedMode = this.checkMode(this.decodeMode(mode));
                            modeId     = this.modules.modeProvider.getRandomId();

                            this.modules.modeProvider.addMode(
                                modeId,
                                parsedMode.name,
                                parsedMode.bannedHeroes,
                                parsedMode.bannedTowns,
                                parsedMode.mirror,
                                false
                            );

                            this.setCurrentMode(modeId);

                            this.modules.popup.alert(translate('popup.parsed'));
                        } catch (e) {
                            console.error(e);

                            this.modules.popup.error(translate('popup.parseError'));
                        }

                        return true;
                    } else if (active === 'modal_share-mode') {
                        return true;
                    }
                },
                /**
                 * Build blocks with town and hero tiles, add handlers on it. All links for tiles will be stored in app for quick access, app will handle tiles state
                 *
                 * @param {Element} townBlock   DOM element where to place town block
                 * @param {Element} heroesBlock DOM element where to place hero blocks
                 */
                createHeroGrid: function (townBlock, heroesBlock) {
                    let heroTile   = document.createElement('DIV'),
                        townTile   = document.createElement('DIV'),
                        heroBlock  = document.createElement('DIV'),
                        town, hero, elem, img, block, item;

                    heroTile.classList.add('grid__hero-tile');
                    heroBlock.classList.add('grid__hero-block', 'hidden');
                    townTile.classList.add('grid__town-tile');

                    for (town in this.heroList)
                        if (this.heroList.hasOwnProperty(town)) {
                            elem = townBlock.appendChild(townTile.cloneNode());
                            img  = elem.appendChild(document.createElement('IMG'));

                            elem.dataset.id = town;

                            img.title = translate('town.' + town);
                            img.src   = this.heroList[town].img;

                            // first click - displays hero list of this town and bans it in current mode, next one - remove ban
                            elem.addEventListener('click', function (e) {
                                let active = document.querySelector('.grid__hero-block:not(.hidden)');

                                if (active.dataset.id !== e.currentTarget.dataset.id) {
                                    active.classList.add('hidden');
                                    document.querySelector('.grid__hero-block[data-id="' + e.currentTarget.dataset.id +'"]').classList.remove('hidden');
                                }

                                if (this.currentMode.bannedTowns.includes(e.currentTarget.dataset.id)) {
                                    this.currentMode.bannedTowns.splice(this.currentMode.bannedTowns.indexOf(e.currentTarget.dataset.id), 1);

                                    e.currentTarget.classList.remove('skipped');
                                } else {
                                    this.currentMode.bannedTowns.push(e.currentTarget.dataset.id);

                                    e.currentTarget.classList.add('skipped');
                                }
                            }.bind(this));

                            block = heroesBlock.appendChild(heroBlock.cloneNode());

                            block.dataset.id = town;

                            for (hero in this.heroList[town].heroes)
                                if (this.heroList[town].heroes.hasOwnProperty(hero)) {
                                    item = block.appendChild(heroTile.cloneNode());
                                    img  = item.appendChild(document.createElement('IMG'));

                                    item.dataset.id = town + '.' + hero;

                                    img.title = translate('hero.' + hero);
                                    img.src   = this.heroList[town].heroes[hero].img;

                                    item.addEventListener('click', function (e) {
                                        if (this.currentMode.bannedHeroes.includes(e.currentTarget.dataset.id)) {
                                            this.currentMode.bannedHeroes.splice(this.currentMode.bannedHeroes.indexOf(e.currentTarget.dataset.id), 1);

                                            e.currentTarget.classList.remove('skipped');
                                        } else {
                                            this.currentMode.bannedHeroes.push(e.currentTarget.dataset.id);

                                            e.currentTarget.classList.add('skipped');
                                        }
                                    }.bind(this));

                                    this.grid.heroes[item.dataset.id] = item;
                                }

                            this.grid.towns[town] = elem;
                        }

                    document.querySelector('.grid__hero-block').classList.remove('hidden');
                },
                /**
                 * Change tile state according current mode or clear state for new mode
                 *
                 * @param {boolean} [empty] mark for new mode
                 */
                renewHeroGrid: function (empty) {
                    let mode          = this.getCurrentMode(),
                        allowedHeroes = {},
                        allowedTowns  = [],
                        index, town, hero, key;

                    if (!empty) {
                        allowedHeroes = this.modules.modeProvider.getAllowedHeroes(mode, this.heroList);
                        allowedTowns  = this.modules.modeProvider.getAllowedTowns(mode, Object.keys(this.heroList));
                    }

                    this.currentMode.bannedHeroes = [];
                    this.currentMode.bannedTowns  = [];

                    for (index in this.grid.towns)
                        if (this.grid.towns.hasOwnProperty(index)) {
                            if (empty || allowedTowns.includes(this.grid.towns[index].dataset.id)) {
                                this.grid.towns[index].classList.remove('skipped');
                            } else {
                                this.currentMode.bannedTowns.push(this.grid.towns[index].dataset.id);

                                this.grid.towns[index].classList.add('skipped');
                            }
                        }

                    for (index in this.grid.heroes)
                        if (this.grid.heroes.hasOwnProperty(index)) {
                            key  = this.grid.heroes[index].dataset.id.split('.', 2);
                            hero = key.pop();
                            town = key.pop();

                            if (empty || this.currentMode.bannedTowns.includes(town) || allowedHeroes[town].includes(hero)) {
                                this.grid.heroes[index].classList.remove('skipped');
                            } else {
                                this.currentMode.bannedHeroes.push(this.grid.heroes[index].dataset.id);

                                this.grid.heroes[index].classList.add('skipped');
                            }
                        }
                },
                /**
                 * Show short help tip
                 */
                showTip: function () {
                    let tips = this.modules.settings.getOption('tips', 0);

                    if (tips & 0b01 ^ 0b01) {
                        this.modules.popup.confirm(translate('popup.tip.editor'), function () {
                            this.modules.settings.setOption('tips', tips | 0b01);

                            this.modules.settings.store();
                        }.bind(this));
                    }
                },
                /**
                 * Get encoded and minified version of custom mode
                 *
                 * @param {string} modeId unique custom mode id
                 *
                 * @return {string}
                 */
                encodeMode: function (modeId) {
                    let mode = JSON.stringify(this.modules.modeProvider.getCustomMode(modeId)),
                        key, townID, heroID;

                    for (key in this.TEMPLATE_KEYS)
                        if (this.TEMPLATE_KEYS.hasOwnProperty(key)) {
                            mode = mode.replaceAll(key, this.TEMPLATE_KEYS[key]);
                        }

                    for (townID in TOWNS_AND_HEROES)
                        if (TOWNS_AND_HEROES.hasOwnProperty(townID)) {
                            mode = mode.replaceAll(townID, TOWNS_AND_HEROES[townID].shortId);

                            for (heroID in TOWNS_AND_HEROES[townID].heroes)
                                if (TOWNS_AND_HEROES[townID].heroes.hasOwnProperty(heroID)) {
                                    mode = mode.replaceAll(heroID, TOWNS_AND_HEROES[townID].heroes[heroID].shortId);
                                }
                        }

                    return btoa(mode);
                },
                /**
                 * Read and extract encoded and minified mode data
                 *
                 * @param {string} minifiedMode encoded in base64 and minified mode data
                 *
                 * @return {object}
                 */
                decodeMode: function (minifiedMode) {
                    let result = atob(minifiedMode),
                        key, townID, heroID;

                    for (key in this.TEMPLATE_KEYS)
                        if (this.TEMPLATE_KEYS.hasOwnProperty(key)) {
                            result = result.replaceAll(this.TEMPLATE_KEYS[key], key);
                        }

                    for (townID in TOWNS_AND_HEROES)
                        if (TOWNS_AND_HEROES.hasOwnProperty(townID)) {
                            result = result.replaceAll(TOWNS_AND_HEROES[townID].shortId, townID);

                            for (heroID in TOWNS_AND_HEROES[townID].heroes)
                                if (TOWNS_AND_HEROES[townID].heroes.hasOwnProperty(heroID)) {
                                    result = result.replaceAll(TOWNS_AND_HEROES[townID].heroes[heroID].shortId, heroID);
                                }
                        }

                    return JSON.parse(result);
                },
                /**
                 * Check mode object and get checked version
                 *
                 * @param {object} mode not verified template object
                 *
                 * @return {object}
                 */
                checkMode: function (mode) {
                    if (typeof mode !== 'object' && mode === null) {
                        throw 'Template data is not an object';
                    }

                    if (Object.keys(mode).some(function (item) {return !this.TEMPLATE_KEYS.hasOwnProperty(item)}, this)) {
                        throw 'Unknown or not supported template key';
                    }

                    if (mode.name && !this.NAME_PATTERN.test(mode.name)) {
                        throw 'Template name is incorrect';
                    } else if (!mode.name) {
                        mode.name = null;
                    }

                    if (typeof mode.mirror !== 'undefined' && !(typeof mode.mirror === 'boolean' ^ mode.mirror === null)) {
                        throw 'Template mirror state is incorrect';
                    } else {
                        mode.mirror = null;
                    }

                    if (mode.bannedTowns) {
                        if (!Array.isArray(mode.bannedTowns)) {
                            throw 'Template banned towns list is incorrect';
                        }

                        if (mode.bannedTowns.some(function (item) {return !this.heroList.hasOwnProperty(item);}, this)) {
                            throw 'Template data contains incorrect or not supported town';
                        }
                    } else {
                        mode.bannedTowns = null;
                    }

                    if (mode.bannedHeroes) {
                        if (!Array.isArray(mode.bannedHeroes)) {
                            throw 'Template banned heroes list is incorrect';
                        }

                        if (
                            mode.bannedHeroes.some(
                                function (item) {return !this.includes(item);},
                                Object.values(this.heroList)
                                    .map(function (item) {return Object.keys(item.heroes);})
                                    .reduce(function (result, item) {return result.concat(item);}, [])
                            )
                        ) {
                            throw 'Template data contains incorrect or not supported town';
                        }
                    } else {
                        mode.bannedHeroes = null;
                    }

                    return mode;
                }
            };

            app.register('settings', settings);
            app.register('trans', trans);
            app.register('modal', modal);
            app.register('modeProvider', modeProvider);
            app.register('popup', popup);

            document.addEventListener('DOMContentLoaded', function () {
                let lang, modeSelector, modeId, option, modeList;

                // start app
                app.start(TOWNS_AND_HEROES);

                lang = app.getLang();

                // add event listeners
                document.querySelector('#btn-confirm').addEventListener('click', function (e) {
                    e.stopPropagation();

                    let result = app.handleModalClose(),
                        item, name, option, mode;

                    if (typeof result === 'boolean') {
                        for (item of document.querySelectorAll('.modal__spoiler:not(.hidden)')) {
                            item.classList.add('hidden');
                        }

                        if (result) {
                            mode   = app.getCurrentMode();

                            if (mode) {
                                name   = app.getModeName();
                                option = document.querySelector('#option-mode option[value="' + mode + '"]');

                                document.querySelectorAll('.modal__error:not(.hidden)').forEach(function (item) {
                                    item.classList.add('hidden');
                                });

                                document.querySelector('#header-mode').innerHTML = name;

                                if (!option) {
                                    option       = document.querySelector('#option-mode').appendChild(document.createElement('option'));
                                    option.value = mode;
                                }

                                option.innerHTML = name;

                                app.modules.modal.close();
                            } else {
                                app.modules.modal.open(translate('modal.header.takeMode'), 'modal_take-mode');
                            }
                        } else {
                            for (item of document.querySelectorAll('.modal__error')) {
                                item.classList.remove('hidden');
                            }
                        }
                    } else {
                        location.reload();
                    }
                });

                document.querySelector('#btn-new').addEventListener('click', function () {
                    document.querySelector('#inp-mode-id').value = '';
                    document.querySelector('#inp-mode_name').value = '';

                    document.querySelector('#option-mirror option').selected = true;

                    app.modules.modal.open(translate('modal.header.newMode'), 'modal_edit-mode');
                });

                document.querySelector('#btn-edit').addEventListener('click', function () {
                    let mirror = app.getMirror();

                    if (typeof mirror === 'boolean') {
                        mirror = mirror ? 'true' : 'false';
                    } else {
                        mirror = 'null';
                    }

                    document.querySelector('#inp-mode-id').value   = app.getCurrentMode();
                    document.querySelector('#inp-mode_name').value = app.getModeName();

                    document.querySelector('#option-mirror option[value="' + mirror + '"]').selected = true;

                    app.modules.modal.open(translate('modal.header.editMode'), 'modal_edit-mode');
                });

                document.querySelectorAll('.button__switch-to').forEach(function (item) {
                    item.addEventListener('click', function () {
                        app.modules.modal.switchTo(this.innerHTML, this.value);
                    });
                });

                document.querySelector('#btn-import').addEventListener('click', function () {
                    let dataField = document.querySelector('#take-mode_data');

                    dataField.value     = '';
                    dataField.innerHTML = '';

                    app.modules.modal.open(translate('modal.header.takeMode'), 'modal_take-mode');
                });

                document.querySelector('#btn-share').addEventListener('click', function (e) {
                    e.stopPropagation();

                    let mode = app.getCurrentMode();

                    if (app.modules.modeProvider.isMode(mode)) {
                        document.querySelector('#modal-share-data').innerHTML = app.encodeMode(mode);

                        app.modules.modal.open(translate('modal.header.shareMode'), 'modal_share-mode');
                    } else {
                        app.modules.popup.confirm(translate('popup.saveNShare'), function () {
                            app.saveCurrentMode();

                            document.querySelector('#modal-share-data').innerHTML = app.encodeMode(mode);

                            app.modules.modal.open(translate('modal.header.shareMode'), 'modal_share-mode');
                        });
                    }
                });

                document.querySelector('#btn-copy-data').addEventListener('click', function () {
                    copyToClipboard(document.querySelector('#modal-share-data').innerText);
                });

                document.querySelector('#btn-delete').addEventListener('click', function (e) {
                    e.stopPropagation();

                    app.modules.popup.confirm(translate('popup.delete'), function () {
                        app.deleteCurrentMode();

                        location.reload();
                    });
                });

                document.querySelector('#btn-close').addEventListener('click', function () {
                    let item;

                    if (app.getCurrentMode()) {
                        for (item of document.querySelectorAll('.modal__error:not(.hidden)')) {
                            item.classList.add('hidden');
                        }

                        app.modules.modal.close();
                    } else {
                        location.assign('index.html');
                    }
                });

                document.querySelector('#btn-save').addEventListener('click', function (e) {
                    e.stopPropagation();

                    app.saveCurrentMode();

                    app.modules.popup.alert(translate('popup.saved'));
                });

                document.querySelector('#btn-select').addEventListener('click', function () {
                    let mode = app.getCurrentMode();

                    if (mode) {
                        document.querySelector('#option-mode option[value="' + mode + '"]').selected = true;
                    } else {
                        document.querySelector('#option-mode option[value=""]').selected = true;
                    }

                    app.modules.modal.open(translate('modal.header.selectMode'), 'modal_select-mode');
                });

                // modal options filling
                app.createHeroGrid(document.querySelector('#grid-towns'), document.querySelector('#grid-heroes'));

                // onstart page scenario
                document.title = translate('page.title.patterns');

                modeList     = app.getRegisteredModes();
                modeSelector = document.querySelector('#option-mode');

                for (modeId of modeList) {
                    option           = modeSelector.appendChild(document.createElement('OPTION'));
                    option.value     = modeId;
                    option.innerHTML = translate(app.getModeName(modeId));
                }

                if (lang !== document.documentElement.lang) {
                    document.documentElement.lang = lang;
                }

                if (modeList.length) {
                    document.querySelectorAll('#modal_select-mode .modal__spoiler').forEach(function (item) {item.classList.remove('hidden')});

                    app.modules.modal.open(translate('modal.header.selectMode'), 'modal_select-mode');
                } else {
                    document.querySelectorAll('#modal_edit-mode .modal__spoiler').forEach(function (item) {item.classList.remove('hidden')});

                    app.modules.modal.open(translate('modal.header.newMode'), 'modal_edit-mode');
                }

                app.showTip();
            });

            // show error popup with error data
            window.addEventListener('error', function (e) {
                if (
                    // @todo bypass chromium bug: Issue 1328008 remove after it would be fixed
                    e.message === 'Uncaught EvalError: Possible side-effect in debug-evaluate'
                    ||
                    // bypass errors from outside scripts - we do not use any outside scripts, so it is not our problem
                    e.message === 'Script error.'
                ) {
                    return;
                }

                let message = 'error: %msg%. File: %file%, ln: %ln%, pos: %pos%'
                    .replace('%msg%', e.message)
                    .replace('%file%', e.filename)
                    .replace('%ln%', e.lineno.toString())
                    .replace('%pos%', e.colno.toString());

                app.modules.popup.error(translate('popup.error'), message);
            });
        </script>

        <!-- Styles -->
        <link rel="stylesheet" href="styles/styles.css">

        <!-- favicon links -->
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

        <link rel="manifest" href="site.webmanifest">
        <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#1c2b42">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">

        <!-- misc -->
        <meta name="robots" content="noindex, nofollow"/>
        <meta name="google" content="notranslate">
    </head>
    <body>
        <div id="content_wrap">
            <div class="content__border">
                <div class="content">
                    <header class="content__header">
                        <h1 class="content__header-capt translate-on-start">page.header.modeEditor</h1>
                        <div class="content__header-text" id="header-mode">...</div>
                    </header>
                    <main class="content__body-col">
                        <article class="body__block">
                            <div id="heroes-grid" class="grid__in-row">
                                <div class="grid__border">
                                    <div id="grid-towns" class="grid__content"></div>
                                </div>
                                <div class="grid__border">
                                    <div id="grid-heroes" class="grid__content"></div>
                                </div>
                            </div>
                        </article>
                        <article class="body__block">
                            <div class="content__misc">
                                <div class="content__misc-header translate-on-start">page.miscHeader</div>
                                <div class="content__misc-options">
                                    <button class="btn-option translate-on-start" id="btn-edit">page.miscEdit</button>
                                    <button class="btn-option translate-on-start" id="btn-import">page.miscImport</button>
                                    <button class="btn-option translate-on-start" id="btn-share">page.miscShare</button>
                                    <button class="btn-option translate-on-start" id="btn-delete">page.miscDelete</button>
                                </div>
                            </div>
                        </article>
                    </main>
                    <footer class="content__footer">
                        <div class="button__block">
                            <button class="btn-additional translate-on-start" id="btn-select">page.selectPattern</button>
                            <a href="index.html" class="footer__link translate-on-start">page.randomizer</a>
                        </div>
                        <div class="button__block">
                            <button class="btn-main translate-on-start" id="btn-new">page.newPattern</button>
                            <button class="btn-main translate-on-start" id="btn-save">page.savePattern</button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <div id="overlay" class="hidden">
            <div id="modal_wrap">
                <div class="modal__border">
                    <div id="modal_header">header text</div>
                    <div id="modal_body">
                        <div class="modal__content hidden" id="modal_edit-mode">
                            <input type="hidden" name="id" id="inp-mode-id">
                            <div class="modal__spoiler hidden">
                                <div class="modal-block__header">
                                    <div class="modal-block__header-capt translate-on-start">modal.spoilerHeader</div>
                                    <div class="modal-block__header-text translate-on-start">modal.spoiler.createMode</div>
                                </div>
                            </div>
                            <div class="modal__error hidden">
                                <div class="modal-block__header">
                                    <span class="translate-on-start modal-block__header-capt">modal.errorHeader</span>
                                    <span class="translate-on-start modal-block__header-error">modal.error.editMode</span>
                                </div>
                            </div>
                            <div class="modal__settings-option">
                                <div class="modal-block__header">
                                    <label class="translate-on-start modal-block__header-capt" for="inp-mode_name">modal.nameHeader</label>
                                    <span class="translate-on-start modal-block__header-text">modal.nameText</span>
                                </div>
                                <div class="modal-block__control" id="option-mode_name">
                                    <input type="text" id="inp-mode_name" autocomplete="off">
                                </div>
                            </div>
                            <div class="modal__settings-option">
                                <div class="modal-block__header">
                                    <label for="option-mirror" class="translate-on-start modal-block__header-capt">modal.mirrorHeader</label>
                                    <span class="translate-on-start modal-block__header-text">modal.mirrorText</span>
                                </div>
                                <div class="modal-block__control">
                                    <select id="option-mirror">
                                        <option value="false" selected="selected" class="translate-on-start">modal.mirror.optionFalse</option>
                                        <option value="true" class="translate-on-start">modal.mirror.optionTrue</option>
                                        <option value="null" class="translate-on-start">modal.mirror.optionNull</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal__spoiler hidden">
                                <div class="modal-block__control">
                                    <button value="modal_take-mode" class="btn-option button__switch-to translate-on-start">modal.header.takeMode</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal__content hidden" id="modal_select-mode">
                            <div class="modal__spoiler hidden">
                                <div class="modal-block__header">
                                    <div class="modal-block__header-capt translate-on-start">modal.spoilerHeader</div>
                                    <div class="modal-block__header-text translate-on-start">modal.spoiler.editMode</div>
                                </div>
                            </div>
                            <div class="modal__error hidden">
                                <div class="modal-block__header">
                                    <span class="translate-on-start modal-block__header-capt">modal.errorHeader</span>
                                    <span class="translate-on-start modal-block__header-error">modal.error.selectMode</span>
                                </div>
                            </div>
                            <div class="modal__settings-option">
                                <div class="modal-block__header">
                                    <label for="option-mode" class="translate-on-start modal-block__header-capt">modal.modeSelectHeader</label>
                                    <span class="translate-on-start modal-block__header-text">modal.modeSelectText</span>
                                </div>
                                <div class="modal-block__control">
                                    <select id="option-mode">
                                        <option value="" selected="selected" disabled="disabled"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal__spoiler hidden">
                                <div class="modal-block__control">
                                    <button value="modal_edit-mode" class="btn-option button__switch-to translate-on-start">modal.header.newMode</button>
                                    <button value="modal_take-mode" class="btn-option button__switch-to translate-on-start">modal.header.takeMode</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal__content hidden" id="modal_take-mode">
                            <div class="modal__error hidden">
                                <div class="modal-block__header">
                                    <span class="translate-on-start modal-block__header-capt">modal.errorHeader</span>
                                    <span class="translate-on-start modal-block__header-error">modal.error.emptyImport</span>
                                </div>
                            </div>
                            <div class="modal__settings-option">
                                <div class="modal-block__header">
                                    <label class="translate-on-start modal-block__header-capt" for="take-mode_data">modal.importHeader</label>
                                    <span class="translate-on-start modal-block__header-text">modal.importText</span>
                                    <textarea name="mode-data" id="take-mode_data" rows="15" class="modal__data-input"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal__content hidden" id="modal_share-mode">
                            <div class="modal__settings-option">
                                <div class="modal-block__header">
                                    <span class="translate-on-start modal-block__header-capt">modal.dataHeader</span>
                                    <span class="translate-on-start modal-block__header-text">modal.dataText</span>
                                </div>
                                <div class="modal-block__control">
                                    <p id="modal-share-data"></p>
                                    <button class="btn-option translate-on-start" id="btn-copy-data">modal.copyModeData</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="modal_footer">
                        <button class="btn-modal button-close" id="btn-close"></button>
                        <button class="btn-modal button-confirm" id="btn-confirm"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-links">
            <a href="https://codeberg.org/h3p/pages/" class="body-link translate-on-start" target="_blank">page.about</a>
            <a href="help.html" class="body-link translate-on-start" target="_blank">page.help</a>
        </div>
    </body>
</html>